<div class="score">Score : {{score}}</div>

<div class="crosses">
  <div class="cross" [class.error]="mistakes > 0"></div>
  <div class="cross" [class.error]="mistakes > 1"></div>
  <div class="cross" [class.error]="mistakes > 2"></div>
</div>

<div class="animation-container">
  <ul class="circle circle-1">
    @for (b of board; let index = $index; track b) {
    <li
      [ngClass]="'section' + (index + 1)"
      (click)="onClick(b)"
      [class.debug]="debug && result === b"
    ></li>
    <div [ngClass]="'section' + (index + 1)" class="number">
      <span>{{b}}</span>
    </div>
    }
  </ul>

  <ul class="circle circle-2">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][3]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-2 third-area">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][3]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-3">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][2]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-3 third-area">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][2]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-4">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][1]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-4 third-area">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][1]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-5">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][0]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-5 third-area">
    @for (b of board; let index = $index; track b) {
    <li [ngClass]="operations[b - 1][0]?.toString()"></li>
    }
  </ul>

  <ul class="circle circle-6" [ngClass]="bullsEye?.applyTo?.toString()">
    @if (!!bullsEye && (bullsEye.operation.toString() === 'square' ||
    bullsEye.operation.toString() === 'reverse')) {
    <div class="bullseye" [ngClass]="bullsEye.operation.toString()"></div>
    } @else if (!!bullsEye && (bullsEye.operation.toString() === 'rounded' ||
    bullsEye.operation.toString() === 'hundred-rounded')) {
    <div class="wavy-line top"></div>
    <div class="wavy-line bottom"></div>
    } @else if (!!bullsEye && bullsEye.operation.toString() === 'ten-rounded') {
    <div class="wavy-line top-1"></div>
    <div class="wavy-line bottom-1"></div>
    <div class="wavy-line top-2"></div>
    <div class="wavy-line bottom-2"></div>
    } @if (!!bullsEye && bullsEye.operation.toString() === 'hundred-rounded') {
    <div class="wavy-line top-hundred-1"></div>
    <div class="wavy-line bottom-hundred-1"></div>
    <div class="wavy-line top-hundred-2"></div>
    <div class="wavy-line bottom-hundred-2"></div>
    }
  </ul>

  @if (!bullsEye) {
  <ul class="circle circle-7"></ul>
  }

  <ul class="circle circle-2 mask"></ul>
</div>
